version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"      # Nginx com landing page + reverse proxy
    environment:
      - PROJECT_NAME="TC4: Long Short Term Memory (LSTM)"
      - SECRET_KEY=5MLET
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - ALGORITHM=HS256
      - MODEL_REPO_ID=lfjmachado/FIAP_TC_FASE3_DIABETE_FOREST
      - MODEL_FILENAME=melhor_modelo_diabetes.pkl
      - ENVIRONMENT=production
    volumes:
      - ./app:/app/app
      - ./src:/app/src
    restart: unless-stopped
