version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"      # Nginx com landing page + reverse proxy
    environment:
      - PROJECT_NAME="Tech Challenge Fase 5 - Associação Passos Mágicos"
      - SECRET_KEY=5MLET
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
      - ALGORITHM=HS256
      - DATASET_PATH=data/raw/passos_magicos_2022_2024.csv
      - MODEL_PATH=app/artifacts/model.pkl
      - SCALER_PATH=app/artifacts/scaler.pkl
      - ENVIRONMENT=production
    volumes:
      - ./app:/app/app
      - ./src:/app/src
      - ./data:/app/data
    restart: unless-stopped
